ol > li {
  margin-bottom: 20px;
  margin-right: 20px;
}
li > a {
  text-decoration: none;
  color: black;
  padding: 5px;
}
.patientInfoList {
  border: 1px dashed black;
  border-radius: 10px;
  width: max-content;
}
.patientInfo {
  border: 1px dashed black;
  border-radius: 10px;
  margin-left: 20px;
  height: max-content;
}
.patientInfo > p {
  margin-bottom: 0px;
  margin-top: 10px;
}
div > p {
  margin-bottom: 0px;
  margin-top: 10px;
}

@media screen and (min-width: 768px) {
}
